html {
    font-size: 62.5%;
}
body {
    margin: 0;
    text-align: center;
}
main {
    max-width: 90%;
    @extend %MarginLR;
}
a {
    @extend %NoneLien;
}

label {
    font: bold 1.8rem "Signika", serif;
    margin-right: 1rem
}

#formulaire {
    @extend %flex;
    flex-direction: column;  
}
h1 {
    font: 900 3rem "Courgette", cursive;
}
div {
    padding: 1.5rem;
}
input, label, select {
    font-size: 2rem;
    font-family: "Courgette", cursive;
}