//-----------------------------------------------------------------//
//-----------------------------------------------------------------//
%flex {
    display: flex;
    justify-content: center;
    align-items: center;}
%MarginLR {
    margin-left: auto;
    margin-right: auto;}
%Font1-S {
    font: 900 2rem "Signika", serif;
    color: $couleur-Palette4;}
%Pointer {
    cursor: pointer;}
%NoneLien {
    text-decoration: none;}

//-----------------------------------------------------------------//
//-----------------------------------------------------------------//