//-----------------------------------------------------------------//
//-----------------------------------------------------------------//
%flex {
    display: flex;
    justify-content: center;
    align-items: center;}
%MarginLR {
    margin-left: auto;
    margin-right: auto;}
%Font1-G {
    font: 1.8rem "Signika", serif;}
%Pointer {
    cursor: pointer;}
%NoneLien {
    text-decoration: none;}

//-----------------------------------------------------------------//
//-----------------------------------------------------------------//