//-----------------------------------------------------------------//
//-----------------------------------------------------------------//
// Couleur
$couleur-Palette1: #586071;
$couleur-Palette2: #8fb4b0;
$couleur-Palette3: #c7efde;
$couleur-Palette4: #ffffff;// blanc
$couleur-Palette5: #f5f5f5;// gris

// Palette de couleurs Unies
$couleur-Palette6: #002f48;
$couleur-Palette7: #d22727;
$couleur-Palette8: #f27c00;
$couleur-Palette9: #fcbd43;
$couleur-Palette0: #e8bfb1;

$couleur-Palette10: #ff0000;// rouge
$couleur-Palette11: #000000;// noir
$couleur-Palette12: #808080;// gris
$couleur-Palette13: #3300ff;// bleu

// Divers

//-----------------------------------------------------------------//
//-----------------------------------------------------------------//
